.blob{
    z-index: 1;
    position: absolute;
    margin-left: 65%;
}

.blob1{
    z-index: 1;
    position: absolute;
    margin-left: 20%;
    margin-bottom: 60%;
}

.text{
    z-index: 2;
}
label.icon{
    display: none;
}
.header{
    background: linen;
}
.Services{
    background: cornsilk;
}
.industries{
    background: blue;
}
.contact{
    padding-top: 35px;
    background: red;
}


@media only screen and (max-width: 420px){
    .logo{
       margin-right: 150px;
    }

  

@media only screen and (max-width: 600px){
    .logo{
        margin-right: 40px;
     }
     .address{
         padding-left: 45px;
     }

 
}

@media only screen and (max-width: 767px){

    .menu{
        display: none;
        width: 100%;
        margin-bottom: 2rem;
    }
    label.icon {
        display: block;
        right: 45px;
        position: absolute;
        top: 1.5rem;
    }
    .tred {
        margin-left: 45%;
    }
    
    .icon:hover .menu {
        display: grid;
        width: 100%;
    }
    
    
}
}
